@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Please go back to the <a asp-action="Login" asp-controller="Home">Login Page</a> and attempt to login again. If this issue persists please contact the Help Desk.</p>
